
body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 h2 h3 {
    font-weight: 700;
}

header {
    background: radial-gradient(aquamarine, aqua, rgb(0, 119, 255), purple);
    padding: 20px;
}

#current-forecast {
    border: 1px solid black;
    display: none;
}

.index-color {
    border-radius: 5px;
    border: none;
    color: white;
}

.index-color:hover {
    cursor: default;
}

#future-forecast {
    display: none;
}

h3 {
    font-size: 20px;
}
