
body {
    margin: 0;
}

header {
    background: radial-gradient(aquamarine, aqua, rgb(0, 119, 255), purple);
    padding: 20px;
}

#current-forecast {
    border: 1px solid black;
    display: none;
}

.index-color {
    border-radius: 5px;
    border: none;
    color: white;
}

.index-color:hover {
    cursor: default;
}